on boot
    # Tap to wake
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture

service vendor.power /vendor/bin/hw/android.hardware.power-service-loire
    class hal
    user system
    group system
