on boot
    # Tap to wake
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture

service vendor.power /vendor/bin/hw/android.hardware.power-service-loire
    class hal
    user system
    group system

on post-fs
    chmod 0664 /sys/devices/virtual/graphics/fb0/idle_time
    chown system graphics /sys/devices/virtual/graphics/fb0/idle_time
    write /sys/devices/virtual/graphics/fb0/idle_time 100
