service vendor.health-loire /system/bin/hw/android.hardware.health-service.loire_recovery
    class hal
    user system
    group system
    capabilities WAKE_ALARM BLOCK_SUSPEND
    file /dev/kmsg w
    seclabel u:r:hal_health_default:s0
